<strong>Olá, {{ name }}</strong>
<p>Seja bem vindo a <strong>Gympoint</strong>. Abaixo estão os dados da sua matrícula:</p>
<p>
    <strong>Plano: </strong> {{ plan }} <br />
    <strong>Data de término: </strong> {{ end_date }} <br />
    <strong>Valor total: </strong> R$ {{ total }} <br />
    <br />
        Aguardamos você para o inicio das aulas!!
</p>
