<strong>Olá, {{ name }}</strong>
<p>Segue abaixo nossa resposta ao seu questionamento:</p>
<p>
    <strong>Enviado em: </strong> {{ created_at }} <br />
    <strong>Pergunta: </strong> {{ question }} <br /><br />
    <strong>Resposta: </strong> {{ answer }} <br />
    <br />
        Em caso de novas dúvidas entre em contato conosco
        através do endereço: <strong>contato@gympoint.com</strong><br />
    <br />
        Obrigado!!
</p>
